body 
{
	background-color: powderblue;
} 

h1
{
	color: blue;
}

p{
	color: red;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20%;
	margin-left: 20%;
}

li
{
	float: left;
	border-right: 3px solid #bbb; 
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: sticky;
}

li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover
{
	background-color: #111;
}

li a:last-child
{
	border-right: none;
}
