body 
{
	background-color: #001605;
} 

h1
{
	color: #03981D;
	font-family: "Lucida Console", Monaco, monospace;
}

p{
	color: white;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 25%;
	margin-left: 25%;
	font-size: 200%;
	font-family: "Palatino Linotype", "Book Aquatica", Palatino, serif;
}

.fileslist ul 
{
	text-align: center;	
	list-style-type: none;
	padding-left: 0;
	padding-top: 0.5%;
	padding-bottom: 1.5%;
}

.fileslist li
{
	color: white;
	font-size: 200%;
	text-decoration: none;
	display: inline;
}

.fileslist ul li a
{
	font-size: 50%;
	text-decoration: none;
	color: blue;
	display: inline-block;
	background-color: #03981D;
	border: 2px solid #4CAF50;
	padding: 0.5% 0.5% 0.5% 0.5%;
}

/* from w3school or something */
/* Add a black background color to the top navigation */
.topnav 
{
	width: 50%;
	margin: 1% 25%;
	text-align: center;
	background-color: #333;
	overflow: hidden;
	padding: 0;
}

.topnav ul
{
	margin: 0;
	padding:0; 
	display: flex;
	justify-content: space-between;
}

.topnav a
{
	text-decoration: none;
	font-size: 17px;
	color: #f2f2f2f2;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 20%;
	font-family: "Lucida Console", Monaco, monospace;
}

.topnav a:hover
{
	background-color: #4CAF50;
	color:black;
}

.topnav a.active
{
	background-color: #03981D;
	color:white;
}
